.form-section-home {
  flex: 6;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.form-section-home .header {
  text-align: right;
  padding: 40px 60px;
  font-size: 18px;
  color: #8692A6
}

.form-section-home .header a {
  color: var(--primary);
  text-decoration: none;
  font-weight: 600;
  margin-left: 5px;
}

.form-section-home .content {
  max-width: 480px;
  margin: auto;
  padding: 0 40px;
}

.form-section-home h1 {
  font-size: 28px;
  color: #2F3367;
  margin-bottom: 12px;
  font-weight: 700;
}

.form-section-home .subtitle {
  font-size: 16px;
  margin-bottom: 20px;
  color: #8692A6;
  line-height: 28px;
}

.form-section-home .options-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-section-home .option-card {
  display: flex;
  align-items: center;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 2px 2px 2px 2px #dedede;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  background: #fff;
}

.form-section-home .option-card:hover {
  box-shadow: 0;
  border: 1px solid var(--primary);
  background-color: #F5F5F7;
}

.form-section-home .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  flex-shrink: 0;
  border: 1px solid var(--primary);
}

.form-section-home .icon svg {
  width: 20px;
  height: 20px;
  color: var(--primary);
}

.form-section-home .blue-bg {
  background-color: var(--primary);
  color: #fff;
}

.form-section-home .outline-blue {
  border: 1.5px solid #e2e8f0;
  color: var(--primary);
}

.form-section-home .text {
  flex-grow: 1;
}

.form-section-home .text h3 {
  font-size: 16px;
  color: #2F3367;
  margin-bottom: 4px;
}

.form-section-home p {
  font-size: 14px;
  color: #8692A6;
  line-height: 1.4;
  margin: 0;
}

.form-section-home .arrow {
  color: var(--primary);
  font-size: 14px;
}