.form-section-login {
  flex: 6;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-section-login .content {
  width: 100%;
  max-width: 450px;
  padding: 40px;
}

.form-section-login svg {
  width: 20px;
}

.form-section-login h1 {
  font-size: 28px;
  color: #2F3367;
  margin-bottom: 8px;
  font-weight: 700;
}

.form-section-login .subtitle {
  color: #8692A6;
  margin-bottom: 30px;
  font-size: 16px;
}

.form-section-login .login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-section-login .input-group {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #F5F5F7;
  border-radius: 8px;
  padding: 14px 16px;
  border: 1.5px solid transparent;
  transition: all 0.25s ease;
  font-size: 18px;
  color: #3C4071;
}

.form-section-login .input-group:focus-within,
.form-section-login .input-group:has(input:not(:placeholder-shown)) {
  background-color: #ffffff;
  border-color: var(--primary);
}

.form-section-login .floating-label {
  position: absolute;
  top: -9px;
  left: 20px;
  background-color: #ffffff;
  padding: 0 8px;
  color: var(--primary);
  font-size: 12px;
  font-weight: 600;
  opacity: 0;
  transform: scale(0.95);
  transition: all 0.2s ease;
  pointer-events: none;
}

.form-section-login .input-group:focus-within .floating-label,
.form-section-login .input-group:has(input:not(:placeholder-shown)) .floating-label {
  opacity: 1;
  transform: scale(1);
}

.form-section-login .input-group input {
  border: none;
  background: transparent;
  width: 100%;
  outline: none;
  font-size: 15px;
  color: #2F3367;
}

.form-section-login .input-group input::placeholder {
  color: #8692A6;
}

.form-section-login .input-icon {
  color: #8692A6;
  width: 18px;
  margin-right: 15px;
}

.form-section-login .password-toggle {
  cursor: pointer;
  color: #8692A6;
}

.form-section-login .login-btn {
  width: 50%;
  margin-top: 15px;
  background-color: var(--primary);
  color: #ffffff;
  border: none;
  padding: 19px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.form-section-login .footer-text {
  margin-top: 30px;
  text-align: center;
  font-size: 16px;
  color: #8692A6;
}

.form-section-login .footer-text a {
  color: var(--primary);
  text-decoration: none;
  font-weight: 600;
  margin-left: 8px;
}

.form-section-login .divider {
    width: 100%;
    margin: 35px 0;
    height: 1px;
    background-color: #ECECF0;
}
