.projects-list {
    margin-left: auto;
    margin-right: auto;
    flex-flow: wrap;
    justify-content: space-between;
    width: 99%;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 0;
    display: flex;
}

.project {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px #dedede;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
}

.project h3 {
    color: #000;
    font-weight: 600;
    font-size: 15px;
}

.project p {
    color: #87888C;
    font-size: 12px;
    font-weight: 400;
}

.project span {
    font-weight: 900;
}