.bugs-page-container .sub-header {
    display: flex;
    align-items: center;
    padding: 12px 0px;
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
    justify-content: space-between;
}

.bugs-page-container .welcome-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bugs-page-container .welcome-section {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.bugs-page-container .welcome-section h2 {
    font-size: 36px;
    color: #252C32;
    margin: 0;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2.2%;
}

.bugs-page-container .welcome-section p {
    font-size: 14px;
    color: #8692A6;
    margin: 4px 0 0 0;
}

.bugs-page-container .add-bug-btn {
    background-color: var(--primary);
    color: #F6F8F9;
    border: none;
    padding: 8px 24px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: background 0.2s;
    letter-spacing: -0.6%;
    line-height: 24px;
}

.bugs-page-container .add-bug-btn:hover {
    background-color: #2a6edb;
}


.bugs-page-container .search-wrapper {
    position: relative;
}


.bugs-page-container .search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    width: 14px !important;
    height: 14px !important;
    transform: translateY(-50%);
    color: #8692A6;
}

.bugs-page-container .search-input {
    width: 70%;
    padding: 12px 15px 12px 45px;
    background-color: white;
    border: 1px solid #DDE2E4;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    color: #2F3367;
}

.bugs-page-container .search-input::placeholder {
    color: #8692A6;
}

.bugs-page-container .action-section {
    display: flex;
    gap: 10px;
}

.icons {
    border: 1px solid #DDE2E4;
    width: 32px;
    height: 32px;
    background-color: #F6F8F9;
    border-radius: 6px;
}

.icons.active .plus-icon-filter {
    color: var(--primary) !important;
}

.bugs-page-container .plus-icon-filter {
    padding: 8px;
    color: #344054;
    width: 14px;
    height: 14px;
}

.bugs-page-container .nav-item span {
    margin-left: 5px;
}

.bugs-page-container select {
    border: none;
    padding: 5px 10px;
    background: transparent;
    color: black;
}