.form-section-signup {
    flex: 6;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-section-signup .content {
    width: 100%;
    max-width: 450px;
    padding: 40px;
}

.form-section-signup svg {
    width: 20px;
}

.form-section-signup h1 {
    font-size: 28px;
    color: #2F3367;
    margin-bottom: 8px;
}

.form-section-signup .subtitle {
    color: #8692A6;
    margin-bottom: 30px;
}

.form-section-signup .signup-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-section-signup .input-group {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #F5F7F9;
    border-radius: 8px;
    padding: 14px 16px;
    border: 1.5px solid transparent;
    transition: all 0.25s ease;
}

.form-section-signup .input-group:focus-within,
.form-section-signup .input-group:has(input:not(:placeholder-shown)) {
    background-color: #ffffff;
    border-color: var(--primary);
}

.form-section-signup .floating-label {
    position: absolute;
    top: -9px;
    left: 20px;
    background-color: #ffffff;
    padding: 0 8px;
    color: var(--primary);
    font-size: 12px;
    font-weight: 600;
    opacity: 0;
    transform: scale(0.95);
    transition: all 0.2s ease;
    pointer-events: none;
}

.form-section-signup .input-group:focus-within .floating-label,
.form-section-signup .input-group:has(input:not(:placeholder-shown)) .floating-label {
    opacity: 1;
    transform: scale(1);
}

.form-section-signup .input-group input {
    border: none;
    background: transparent;
    width: 100%;
    outline: none;
    font-size: 15px;
    color: #2F3367;
}

.form-section-signup .input-group input::placeholder {
    color: #8692A6;
}
.form-section-signup .input-icon {
    color: #8692A6;
    width: 18px;
    margin-right: 15px;
}

.form-section-signup .password-toggle {
    cursor: pointer;
    color: #8692A6;
}
.form-section-signup .signup-btn {
    width: 50%;
    margin-top: 15px;
    background-color: var(--primary);
    color: #ffffff;
    border: none;
    padding: 16px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.form-section-signup .footer-text {
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    color: #8692A6;
}

.form-section-signup .footer-text a {
    color: var(--primary);
    text-decoration: none;
    font-weight: 700;
    margin-left: 8px;
}
