.sub-header {
    display: flex;
    align-items: center;
    padding: 12px 0px;
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
    justify-content: space-between;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.welcome-section {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.welcome-section h2 {
    font-size: 36px;
    color: #000;
    margin: 0;
    font-weight: 700;
}

.welcome-section p {
    font-size: 14px;
    color: #8692A6;
    margin: 4px 0 0 0;
}

.add-bug-btn {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: background 0.2s;
}

.add-bug-btn:hover {
    background-color: #2a6edb;
}


.search-wrapper {
    position: relative;
}


.search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #8692A6;
}

.search-input {
    width: 70%;
    padding: 12px 15px 12px 45px;
    background-color: #F1F1F1;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    color: #2F3367;
}

.search-input::placeholder {
    color: #8692A6;
}

.action-section {
    display: flex;
    gap: 10px;
}

.plus-icon-filter {
    color: #344054;
    width: 20px;
    height: 25px;
}

.nav-item span {
    margin-left: 5px;
}

select {
    border: none;
    padding: 5px 10px;
    background: transparent;
    color: black;
}