html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.body {
  background-color: #FFFFFF;
  padding-left: 10%;
  padding-right: 10%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}